#background_form .form-list td.value a img { height:200px !important; width:auto !important; float:left; margin-right:20px; }
#background_form .form-list td.value span.delete-image { padding-left:0; }